.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#quotebox {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.quote-text {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.quote-author {
  font-size: 1em;
  text-align: right;
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.button {
  background-color: #282c34;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  cursor: pointer;
}
